absl-py
altair
altgraph
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
Brotli
CacheControl
cachetools
cairocffi
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cryptography
cssselect2
cycler
debugpy
decorator
defusedxml
distlib
Django
django-chartjs
djangorestframework
docopt
executing
fastjsonschema
filelock
firebase-admin
Flask
flatbuffers
fonttools
fqdn
gast
gcloud
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gspread
gunicorn
h11
h5py
html5lib
httpcore
httplib2
httpx
idna
imageio
imageio-ffmpeg
instaloader
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jws
keras
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
meson
mistune
ml-dtypes
moviepy
msgpack
namex
nbclient
nbconvert
nbformat
nest-asyncio
ninja
notebook
notebook_shim
num2words
numpy
oauth2client
oauthlib
opencv-python
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pefile
pickleshare
pillow
pipenv
pipreqs
platformdirs
proglog
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydeck
PyDrive
pydyf
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyparsing
pyphen
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQtWebEngine
PyQtWebEngine-Qt5
Pyrebase
python-dateutil
python-json-logger
python-jwt
pytz
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
reportlab
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
Send2Trash
six
smmap
sniffio
soupsieve
sqlparse
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
uritemplate
urllib3
virtualenv
watchdog
wcwidth
weasyprint
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
yarg
your-package
zopfli
